In [25]:
import pandas as pd
import numpy as np

In [30]:
train = pd.read_csv("train_aWnotuB.csv",parse_dates=[0])

In [32]:
train.head()

             DateTime  Junction  Vehicles           ID
0 2015-11-01 00:00:00         1        15  20151101001
1 2015-11-01 01:00:00         1        13  20151101011
2 2015-11-01 02:00:00         1        10  20151101021
3 2015-11-01 03:00:00         1         7  20151101031
4 2015-11-01 04:00:00         1         9  20151101041

In [33]:
train.shape

(48120, 4)

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48120 entries, 0 to 48119
Data columns (total 4 columns):
DateTime    48120 non-null datetime64[ns]
Junction    48120 non-null int64
Vehicles    48120 non-null int64
ID          48120 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 1.5 MB

In [7]:
train.describe()

           Junction      Vehicles            ID
count  48120.000000  48120.000000  4.812000e+04
mean       2.180549     22.791334  2.016330e+10
std        0.966955     20.750063  5.944854e+06
min        1.000000      1.000000  2.015110e+10
25%        1.000000      9.000000  2.016042e+10
50%        2.000000     15.000000  2.016093e+10
75%        3.000000     29.000000  2.017023e+10
max        4.000000    180.000000  2.017063e+10

In [34]:
test = pd.read_csv("test_BdBKkAj.csv",parse_dates=[0])

In [37]:
test.head()

             DateTime  Junction           ID
0 2017-07-01 00:00:00         1  20170701001
1 2017-07-01 01:00:00         1  20170701011
2 2017-07-01 02:00:00         1  20170701021
3 2017-07-01 03:00:00         1  20170701031
4 2017-07-01 04:00:00         1  20170701041

In [13]:
test.shape

(11808, 3)

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11808 entries, 0 to 11807
Data columns (total 3 columns):
DateTime    11808 non-null datetime64[ns]
Junction    11808 non-null int64
ID          11808 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 276.8 KB

In [36]:
test.describe()

           Junction            ID
count  11808.000000  1.180800e+04
mean       2.500000  2.017087e+10
std        1.118081  1.124665e+05
min        1.000000  2.017070e+10
25%        1.750000  2.017073e+10
50%        2.500000  2.017083e+10
75%        3.250000  2.017100e+10
max        4.000000  2.017103e+10